// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	margin-left: auto;
	margin-right: auto;
}

#first {
	padding-right: 15px;
	padding-left: 10px;
}

#end {
	padding-left: 15px;
	padding-right: 10px;
}
